BACKEND_PORT=8080
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_DB=quickdeal
JWT_ACCESS_SECRET=jwt-access-secret
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=120h
FRONTEND_PORT=80
