# Global
*.log
*.tmp
*.swp
*.swo
*.bak
*.old
*.orig
*.out
*.exe
*.test

# IDEs and editors
.idea/
.vscode/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Secrets
*.env

# Go
backend/vendor/

# Air
backend/tmp/
backend/build-errors.log

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
